.title-block .title {
  display: inline-block;
  padding: 30px 60px;
  background: #f4f4f4;
  border-radius: 8px;
  font-weight: normal;
  margin-bottom: 10px;
}
a {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #555;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 20px;
  border-bottom: 1px solid #f4f4f4;
  margin-top: 10px;
  margin-bottom: 60px;
  &:hover {
    color: #f4f4f4;
  }
}
